/* .react-calendar , .react-calendar__tile:hover, .react-calendar__navigation__label:hover{
    background-color: #131314 !important;
    border: none !important;
    
}
.react-calendar__navigation__arrow:hover{
    background-color: #3c3c48 !important;
    border-radius: 50%;
}

.react-calendar__navigation__label, .react-calendar__navigation , .react-calendar__navigation__arrow{
    color: white
}
.react-calendar__tile--active{
    background-color: rgb(156, 156, 250) !important;
}

.react-calendar__tile--now{
    background-color: rgb(72, 72, 155) !important;
    border-radius: 50%;
}

.react-calendar__tile , .react-calendar__month-view__weekdays{
    color: white !important;
    text-decoration: none !important;
} */
